./.env
AWS_ENVIRONMENT="{{AWS_ENVIRONMENT}}"
AWS_ACCESS_KEY_ID="{{AWS_ACCESS_KEY}}"
AWS_SECRET_ACCESS_KEY="{{AWS_SECRET_ACCESS_KEY}}"
AWS_SESSION_TOKEN="{{AWS_SESSION_TOKEN}}"
AWS_ROLE_ARN="{{AWS_ROLE_ARN}}"
AWS_REGION="{{AWS_REGION}}"
AWS_FUNCTION_NAME="VFS_LTE"
AWS_HANDLER="index.handler"
AWS_MEMORY_SIZE=128
AWS_TIMEOUT=3
AWS_DESCRIPTION="Subscribes to the vfs-Event-Notification SNS and looks for notification events."
AWS_RUNTIME="nodejs4.3"